@import "bootstrap";

body {
//	background: url(http://subtlepatterns.com/patterns/scribble_light.png) ;
}

.container {
    //width: 1400px;
    min-height: 300px;
    text-align: center;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 50px;
}

@media (min-width: 1600px) {
    .container {
        width: 1400px;
    }
}

.sidebar {
    position: fixed;
}

.navbar {
    margin-bottom: 0px;
    z-index: 2;
}

